body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Date section  */
.date-section{
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.date-section input{
    padding: 5px;
    font-size: 16px;
}

/* Input Section  */
.input-section{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-section input{
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-section button{
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.input-section button:hover{
    background: #45a049;
}

/* Table  */

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

table th{
    background: #4CAF50;
    color: white;
}

.absent{
    color: red;
    font-weight: bold;
}

.present{
    color: green;
    font-weight: bold;
}

.status-btn{
    padding: 5px 10px;
    border: none;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
}

.present-btn{
    background: #4CAF50;
    color: white;
}

.absent-btn{
    background: #f44336;
    color: white;
}